body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom right, #0081FF, #8BCEFA);
    background-size: auto;
    color: #000000;
    margin-top: 3.5em;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 15px;
    box-shadow: 10px 10px 5px grey;
  }

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.fas {
  color: #0081FF;
}

button{
  border: 0ch;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  background-size: auto;
  color: rgb(0, 0, 0);
  margin: 10px;
  height: 60px;
  width: 200px;
  padding: 5px 10px;
  font-weight: bold;
}
